// @import url("https://fonts.googleapis.com/css2?family=Outfit");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

$body-font-family: "Source Code Pro" !default;
$heading-font-family:"Outfit" !default;
$title-font: Arial !default;
.v-application {
	font-family: $body-font-family, sans-serif !important;
}
* {
    letter-spacing: 0.01px !important;
}

:root {
	--lightgreen: #dfffa5;
	--darkblue: #113873;
	--primary-color: #1a2444;
	--secondary-color: #bcefff;
	--main-color-blue : #C4F1FF5F ;
	--main-color-drown : #fcfaf5 ;
}
